name: Build AIX Files

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Set up Rust
        uses: rust-lang/rustup-init@v1
        with:
          default-toolchain: nightly

      - name: Build AIX Files
        run: bash build.sh
